{
  "plugins": [
    "transform-es2015-parameters",
    ["@babel/transform-runtime", {
      "regenerator": true
    }],
    "@babel/plugin-transform-spread"
  ],
  "presets": [
    ["@babel/preset-env"]
  ]
}
